<div class="row">
  <div class="large-3 columns">
    <div class="box boring1">
      <h1 class="logo"><img src="/images/chef-man.png" /></h1>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="box fun1">
      <h5>Git Repository for Component</h5>
      <form class="github-fetch-form" method="POST" action="/fetch">
        <div class="row">
          <div class="large-4 columns">
            <label>Organization</label>
            <input type="text" name="organization" placeholder="mozilla-appmaker" value="mozilla-appmaker">
          </div>
          <div class="large-1 columns">
            <p class="slash">/</p>
          </div>
          <div class="large-4 columns">
            <label>Repository Name</label>
            <input type="text" name="repository" placeholder="ceci-fireworks">
          </div>
          <div class="large-3 columns">
            <input type="submit" href="#" class="large button fun4" value="Host!" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-3  columns">
    <div class="box fun2">
      <h5>Panel Title</h5>
      <p>This is a three columns grid panel with an arbitrary height.</p>
    </div>
  </div>
</div>
