<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{title}}</title>

  <link rel="stylesheet" href="/vendor/foundation/css/normalize.css" />
  <link rel="stylesheet" href="/vendor/foundation/css/foundation.min.css" />
  <link rel="stylesheet" href="/style.css" />
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/foundation/js/vendor/custom.modernizr.js"></script>
  <script src="/application.js"></script>

</head>
<body class="boring1">

  {{{ yield }}}

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
      </div>
    </div>
  </footer>



  <script src="/vendor/foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
